@media(min-width:992px) and (max-width:1200px){
section.service .box .order button {
  right: 35px;
  font-size: 14px;
}
section.news .news_article .news_slider .slick-prev {
  top: 606px;
}
section.news{
  .arcticle{
    position: relative;
    right: 10px;
  }
}
}